* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: url("https://images.pexels.com/photos/1542495/pexels-photo-1542495.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container-fluid {
  margin: 5px auto;
  min-width: 1600px;
  /* background: rgb(231, 231, 231); */
  height: 100vh;
}

.subcontainer-one {
  height: 900px;
  width: 1100px;
  padding: 10px 35px 10px 35px;
  /* background: #ccc; */
}

.subcontainer-two {
  height: 550px;
  padding: 0;
  /* background: rgb(164, 179, 247); */
}

.box {
  border-radius: 25px;
  min-width: 250px;
  max-width: 250px;
  margin: 10px auto;
  height: 200px;
  padding: 0;
  background: rgba(226, 226, 226, 0.87);
  box-shadow: 0 0 5px rgba(19, 19, 19, 0.8);
  cursor: pointer;
}

.alert-box {
  border-radius: 25px;
  width: 95%;
  height: 540px;
  background: rgba(226, 226, 226, 0.856);
  margin: 0;
  padding: 0;
}
.forecast-box {
  border-radius: 25px;
  width: 95%;
  height: 300px;
  background: rgba(226, 226, 226, 0.856);
  margin: 20px 0;
  padding: 0;
}

.city-id {
  background: linear-gradient(
    90deg,
    rgba(7, 20, 54, 0.883) 0%,
    rgba(1, 43, 71, 0.671) 51%,
    rgba(3, 41, 73, 0.623) 100%
  );
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.9em;
  color: white;
}

.city-id p {
  margin: 0;
  font-weight: 500;
  /* font-size: 1.2em; */
}

.alert-heading {
  background: linear-gradient(
    90deg,
    rgba(7, 20, 54, 0.883) 0%,
    rgba(1, 43, 71, 0.671) 51%,
    rgba(3, 41, 73, 0.623) 100%
  );
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  padding: 4px 0 0 0;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 1.9em;
  font-weight: 500;
}
.forecast-heading {
  background: linear-gradient(
    90deg,
    rgba(7, 20, 54, 0.883) 0%,
    rgba(1, 43, 71, 0.671) 51%,
    rgba(3, 41, 73, 0.623) 100%
  );
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  padding: 4px 0 0 0;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 1.9em;
  font-weight: 500;
}
.current {
  margin: 0;
}
.current p {
  padding: 0;
  margin: 0;
}

.current-temp {
  text-align: center;
  padding: 6px 0 0 3px;
  font-size: 3.8em;
  margin: 0;
}

.high-low {
  font-weight: 500;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 5px;
  font-size: 0.9em;
  font-weight: bold;
}
.city-forecast {
  text-align: center;
  margin: 0;
  padding: 2px 0 0 0;
  font-weight: bold;
  font-size: 1.2em;
}
.city-forecast p {
  margin: 0;
}

#alerts-div {
  padding: 10px;
  height: 465px;
  overflow: auto;
}

#forecast-div {
  padding: 10px;
  height: 220px;
  overflow: auto;
}

.every-other {
  padding: 5px;
  border-radius: 10px;
}
.every-other:nth-child(even) {
  background: rgba(9, 7, 34, 0.233);
}
.every-other h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.every-other h3 {
  font-size: 0.9em;
  font-weight: 600;
  margin: 0 0 5px 0;
}
.every-other h4 {
  font-size: 0.9em;
  margin: 0 0 5px 0;
}
.every-other p {
  font-size: 0.9em;
  margin: 0;
}

.detailed-forecast {
  padding: 5px;
  border-radius: 10px;
}
.detailed-forecast:nth-child(even) {
  background: rgba(9, 7, 34, 0.233);
}
.detailed-forecast h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 0 0;
}
.detailed-forecast h3 {
  font-size: 0.9em;
  font-weight: 600;
  margin: 0 0 5px 0;
}
.detailed-forecast h4 {
  font-size: 0.9em;
  margin: 0 0 5px 0;
}
.detailed-forecast p {
  font-size: 0.9em;
  margin: 0;
  padding-bottom: 10px;
}

.instruction {
  text-align: center;
  font-size: 0.9em;
  margin: 0;
  color: rgb(49, 48, 104);
}
