* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: url("https://images.pexels.com/photos/1021365/pexels-photo-1021365.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    no-repeat;
  background-size: cover;
}

.container-fluid {
  margin: 5px auto;
  min-width: 1600px;
  /* background: rgb(231, 231, 231); */
  height: 100vh;
}

.subcontainer-one {
  height: 900px;
  width: 1100px;
  padding: 10px 35px 10px 35px;
  /* background: #ccc; */
}

.subcontainer-two {
  height: 900px;
  /* background: rgb(164, 179, 247); */
}

.box {
  border-radius: 25px;
  min-width: 240px;
  max-width: 235px;
  margin: 10px auto;
  height: 200px;
  padding: 0;
  border: 1px solid rgb(37, 37, 41);
  background: rgba(226, 226, 226, 0.747);
  box-shadow: 0 0 5px rgba(19, 19, 19, 0.8);
}

.alert-box {
  border-radius: 25px;
  width: 95%;
  height: 95%;
  background: rgba(226, 226, 226, 0.747);
  margin: 20px auto;
}

.city-id {
  background: rgb(37, 37, 41);
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.9em;
  color: white;
}

.city-id p {
  margin: 0;
  font-weight: 500;
  /* font-size: 1.2em; */
}

.alert-heading {
  background: rgb(37, 37, 41);
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  padding: 4px 0 0 0;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 1.9em;
  font-weight: 500;
}
.current {
  margin: 0;
}
.current p {
  padding: 0;
  margin: 0;
}

.current-temp {
  text-align: center;
  padding: 6px 0 0 3px;
  font-size: 3.8em;
  margin: 0;
}

.high-low {
  font-weight: 500;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 5px;
  font-size: 1em;
  /* font-weight: bold; */
}
.city-forecast {
  text-align: center;
  margin: 0;
  padding: 2px 0 0 0;
  font-weight: bold;
  font-size: 1.2em;
}
.city-forecast p {
  margin: 0;
}

#alerts-div {
  padding: 10px;
  height: 780px;
  overflow: auto;
}

.every-other {
  padding: 5px;
  border-radius: 10px;
}
.every-other:nth-child(even) {
  background: rgba(155, 154, 154, 0.795);
}
.every-other h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.every-other h3 {
  font-size: 0.9em;
  font-weight: 600;
  margin: 0 0 5px 0;
}
.every-other h4 {
  font-size: 0.9em;
  margin: 0 0 5px 0;
}
.every-other p {
  font-size: 0.9em;
  margin: 0;
}
